* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

p {
    color: #A9A9A9;
}

b {
    color: black;
}

hr {
    background-color: #F0F0F0;
    height: 1px;
    border: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #3b5998;
    align-items: center;
    height: 80px;
    color: aliceblue;
}

main {
    background-color: #E8E8E8;
}

header a {
    color: #A9A9A9;
}

.log img {
    width: 100px;
    margin: 0px 300px;
}

.login {
    margin: 0px 150px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    margin-bottom: 0px;
    width: 50px;
    height: 20px;
    border-radius: 5px;
    color: #ffffff;
    border: 0px;
}

#login-button {
    background-color: #4267b2;
    margin-top: 25px;
}

main {
    display: flex;
    padding: 20px 100px;
}

.introduce h1 {
    margin: 0px 150px;
}

section img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 150px;
}

.sign-up {
    margin: 0px 100px;
    width: 500px;
}

.sign-up form {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

.input {
    display: flex;
    flex-direction: column;
}

.input input {
    width: 100%;
}

.username input {
    width: auto;
}

.gender {
    margin: 0px 10px;
}

.sign-up .button {
    background-color: #69a74e;
    width: 100px;
    height: 25px;
}

.login-details {
    font-size: 2px;
}

.page {
    margin-left: 100px;
    font-size: 2px;
}

footer {
    margin: 20px 200px;
}

.languages, .website {
    display: flex;
    flex-direction: row;
}

footer p {
    padding: 10px 20px 10px 100px;
    font-size: 10px;
}

.footer-log {
    position: fixed;
    bottom: 20px;
}
